<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313397734730-ugihq6bqn7ruv6grcbvk0sd84d915v94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313397734730-ugihq6bqn7ruv6grcbvk0sd84d915v94</string>
	<key>API_KEY</key>
	<string>AIzaSyDVpjCk5UMPnN1dA7B8mol4V7QxQcog4OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>313397734730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quantedge.equix.optixtrading</string>
	<key>PROJECT_ID</key>
	<string>projecttest-d3f37</string>
	<key>STORAGE_BUCKET</key>
	<string>projecttest-d3f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313397734730:ios:03366775ab3075e476a5b3</string>
</dict>
</plist>